<!-- Footer -->
<footer class="mt-5">
    <div class="fixed-bottom bg-white p-1">
        <!-- Footer Links -->
        <div class="footer">
    
          <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="mb-2">
                    <a href="#!">Trabalhe conosco</a>
                    <a href="#!" class="ml-3">Termos e condições</a>
                    <a href="#!" class="ml-3">Políticas de privacidade</a>
                    <a href="#!" class="ml-3">Contato</a>
                </div>
              <p>Copyright © 1999-2020 Ebazar.com.br LTDA.</p>
              <p>CNPJ n.º 03.007.331/0001-41 / Av. das Nações Unidas, nº 3.003, Bonfim, Osasco/SP - CEP 06233-903 - empresa do grupo Mercado Livre.</p>
            </div>

            <div class="mx-auto">
                <a mat-flat-button class="button">
                    Baixe grátis o app do Mercado Livre!
                </a>
            </div>
          </div>
        </div>
    </div>
  </footer>
  <!-- Footer -->