@import '~@angular/material/theming';
@import 'mercado-livre-theme.scss';

html,
body {
  height: 100%;
  background-color: #eeeeee;
}

body {
  margin: 0;
  font-family: inherit, "Helvetica Neue", sans-serif;
}
